body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(coffee-copy.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}


.top-wrapper p {
  opacity: 0.7;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;

}

.heading h2 {
 font-weight: normal;
 text-align: center;
}


nav ul{
display: table;
margin: 0 auto;
padding: 0 ;
width: 80%;
text-align: center;
position: fixed;
}
nav li{
display: table-cell;
min-width: 50px;
}
nav a{
display: block;
width: 100%;
text-decoration: none;
color: #FFE4E1;
padding-bottom: 5px;
font-size: 20px;
}
nav li.current{
border-bottom: 3px solid #92D050;
}
nav li:hover{
color: #E7DA66;
border-bottom: 3px solid #F0E475;
}


.centermain  {
   background-image: url(img.jpeg);
    background-size: cover;
}



.box01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
 
.box01 .item {;
    border: solid 1px #000;
    margin: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    
}

.box01 .item  a {
font-family: "sans-serif";
color: #191970;
}




footer {
  padding: 2px 0;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  background-color: #f5f5dc;
}
